<header class="page-header" role="banner">
	<div class="page-header-content">
		<a href="{{ "/" | relative_url }}" aria-label="Return to the home page" class="main-logo-link">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 331" class="main-logo" width="128" aria-hidden="true" alt="Paul Herz"><path d="M145.4 72.6H74.8v181.8h44.6v-50.7H146c29.6 0 51.5-5.2 65.9-15.6s21.6-26.8 21.6-49.3c0-22.4-7-39.1-21-49.9-14-10.9-36.4-16.3-67.1-16.3zm4 95.9h-30v-61.1h25.5c14.7 0 25.5 2.2 32.5 6.6 7 4.4 10.4 11.9 10.4 22.4s-2.7 18.5-8 23.9c-5.4 5.5-15.5 8.2-30.4 8.2zm243.2-20h-79.5V72.6h-44.6v181.8h44.6v-71.5h79.5v71.5h44.6V72.6h-44.6v75.9z"/><path d="M0 0v331h512V0H0zm477.9 296.9H34.1V34.1h443.7l.1 262.8z"/></svg>
		</a>
		<nav class="main-nav" role="navigation">
			<ul class="nav-list">
				{%- assign sorted_nav_items = (site.pages | where: 'menu','main' | sort: 'weight') -%}
				{%- for p in sorted_nav_items -%}
					{%- if p.menu == 'main' -%}
					<li><a class="subtle-link" href="{{ p.url }}">{{- p.title -}}</a></li>
					{%- endif -%}
				{%- endfor -%}
			</ul>
		</nav>
	</div>
</header>