/* GENERAL HTML */
* {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

html {
	height: 100%;
	font: $base-font-size/1 $ui-font;
}

body, p, pre, code, ul, ol {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	color: $foreground;
	padding: 1px 0;

	@include medium {
		display: flex;
	}
}

p, ul, ol, pre {
	margin-bottom: 1em;
}

ul, ol {
	margin-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

nav {
	ul, ol {
		margin: 1rem 0;
		padding: 0;
		list-style: none;
	}
}

hr {
	border: 0.075rem solid #999;
}

a:link, a:visited {
	color: $link-color;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $title-font;
	font-weight: 600;
	margin: 0 0 1em;
}

h1 {
	font-weight: 400;
}

mark {
	background: rgba(yellow, 0.6);
}

/* END GENERAL HTML */

.post {
	margin: 0 0 5rem;
}

.page-header {
	height: 90px;
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include small {
		margin: 1.5rem 0;
		justify-content: flex-start;
	}

	@include medium {
		margin: 2.6rem 0 1.5rem;
	}

	@include large {
		margin: 4rem 0 6rem;
	}
}

.post-header {
	max-width: 50rem;
}

.page-footer {
	margin: 1rem 0 3rem;
}

.page-header, .page-footer, .post-header, .post-content {
	padding: 0 $post-pad/2;

	@include small {
		padding: 0 $post-pad;
	}
}

.page-header, .page-footer, .post-content {
	max-width: $post-width + $post-pad;

	@include small {
		max-width: $post-width + $post-pad * 2;
	}
}

.logo-link {
	display: block;
	margin: 1rem 1rem 1rem 0;

	img {
		display: block;
	}
}

.logo-link-header {
	@include large {
		display: none;
	}
}

.logo-link-side {
	position: fixed;
	bottom: 1rem;
	left: 2.2rem;
	display: none;
	@include large {
		display: block;
	}
}

.page-left-bar {
	display: none;
	@include medium {
		width: 2rem;
		display: block;
	}
	@include large {
		width: 7rem;
	}
}

.page-main {
	margin: 1rem 0;
}

.main-nav ul {
	display: flex;
	li {
		margin: 0;
		padding-left: 1.5rem;
		text-transform: uppercase;

		@include large {
			padding-left: 0;
			padding-right: 1.5rem;
		}
	}
	a {
		text-decoration: none;
	}
}