/* GENERAL HTML */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: $selection-background;
	color: $selection-foreground;
}

html {
	height: 100%;
	font: 16px/1 $primary-font-stack;
	@include small {
		font-size: 1.1em;
	}
	@include medium {
		font-size: 1.2em;
	}
}

body {
	min-height: 100%;
	margin: 0;
	color: $foreground;
}

body, p, pre, code, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
}

p, ul, ol, pre, .post {
	margin-bottom: 1em;
}

ul, ol {
	margin-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

nav {
	ul, ol {
		margin-left: 0;
		padding: 0;
		list-style: none;
	}
}

a:link {
	color: $highlight;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font-stack;
	font-weight: 600;
	margin-bottom: 1em;
}

h1 {
	font-weight: 400;
}

mark {
	background: rgba(yellow, 0.6);
}

/* END GENERAL HTML */