/* GENERAL HTML */
* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font: 18px/1 $primary-font-stack;
	@include small {
		font-size: 1.1em;
	}
	@include medium {
		font-size: 1.2em;
	}
}

body, p, pre, code, ul, ol {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	color: $foreground;
	padding: 1px 0;
}

p, ul, ol, pre {
	margin-bottom: 1em;
}

ul, ol {
	margin-left: 1em;
}

li {
	margin-bottom: 0.5em;
}

nav {
	ul, ol {
		margin: 1rem 0;
		padding: 0;
		list-style: none;
	}
}

hr {
	border: 0.075rem solid #999;
}

a:link, a:visited {
	color: $link-color;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font-stack;
	font-weight: 600;
	margin: 0 0 1em;
}

h1 {
	font-weight: 400;
}

mark {
	background: rgba(yellow, 0.6);
}

/* END GENERAL HTML */

.post {
	margin: 0 auto 3rem;
}

.page-header, .page-footer {
	text-align: center;
	margin: 1rem auto;
}

.page-header, .page-footer, .post, .container {
	max-width: $post-width + $post-pad;
	padding: 0 $post-pad/2;
	margin-left: auto;
	margin-right: auto;

	@include small {
		max-width: $post-width + $post-pad * 2;
		padding: 0 $post-pad;
	}
}

.container {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.logo {
	width: 4rem;
	path {
		fill: $foreground;
	}
}

.logo-link {
	display: inline-block;
	margin: 1rem;
}

.page-main {
	margin: 1rem 0;
}

.main-nav ul {
	width: 100%;
	max-width: $post-width;
	display: flex;
	justify-content: space-around;
}