@mixin small {
	@media only screen and (min-width: 30rem) { @content }
}

@mixin medium {
	@media only screen and (min-width: 50rem) { @content }
}

$primary-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-stack: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
$header-font-stack: $primary-font-stack;
$article-font-stack: $primary-font-stack;

$background: #fff;
$foreground: #000;
$highlight: #0066cc;

$selection-foreground: hsl(0,0%,95%);
$selection-background: #000;