@mixin small {
	@media only screen and (min-width: 30rem) { @content }
}

@mixin medium {
	@media only screen and (min-width: 50rem) { @content }
}

$primary-font-stack: sans-serif;
$monospace-font-stack: Menlo, Monaco, Consolas, "Courier New", monospace;
$header-font-stack: $primary-font-stack;
$article-font-stack: $primary-font-stack;

$background: #fff;
$foreground: #000;
$link-color: $foreground; // 0066cc

$post-width: 630px;
$post-pad: 36px;