.main-logo {
	width: 4rem;
	@include small {
		width: 6rem;
	}
	path {
		fill: $foreground;
	}
}

.main-logo-link {
	margin: 0 0 1.5rem;
	display: inline-block;

	&:focus {
		outline: none !important;
		.main-logo {
			outline: 1px solid red;
		}
	}
}

.nav-list {
	padding-left: 0.2rem;
}

.nav-list li {
	display: block;
	text-transform: uppercase;
	margin-bottom: 1rem;
	user-select: none;
	cursor: default;
}

.subtle-link {
	&, &:link {
		color: $foreground;
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
}