.page {
	max-width: 2000px;
	display: flex;
	flex-direction: column;
	background: $background;
	z-index: 1;
	@include medium {
		flex-direction: row;
	}
}

.page-header-content, .page-main {
	padding: 1rem 1rem 0;
	@include small {
		padding: 1.6rem 1.6rem 0;
	}
}

.page-header-content {
	@include medium {
		padding: 2.6rem 0 0 2.6rem;
		position: fixed;
		top: 0;
	}
}

.page-header {
	flex: 0;
	@include medium {
		margin-right: 1.6rem;
		flex-grow: 1;
		flex-basis: 1em;
	}
}

.page-main {
	margin-bottom: 1rem;
	@include small {
		padding-top: 1rem;
		margin-bottom: 1.6rem;
	}
	@include medium {
		padding: 2.6rem 1.6rem 0 0;
		width: 0;
		flex-grow: 3;
		flex-shrink: 0;
		flex-basis: 0;
	}
}