@font-face {
	font-family: 'PHInconsolata';
	src: url('fonts/Inconsolata-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PHInconsolata';
	src: url('fonts/Inconsolata-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PHRoslindaleDisplayCondensed';
	src: url('fonts/RoslindaleDisplayCondensed-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'PHRoslindaleDisplayCondensed';
	src: url('fonts/RoslindaleDisplayCondensed-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PHETBook';
	src: url('fonts/ETBook_RLF.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PHETBook';
	src: url('fonts/ETBook_ItalicOSF.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'PHETBook';
	src: url('fonts/ETBook_BoldLF.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}