---
# Empty front matter
---

@import 'global';

.post {

	pre, code {
		background: hsl(0,0%,95%);
		border: 1px solid hsl(0,0%,80%);
		color: black;

		::selection {
			color: hsl(0,0%,95%);
			background: black;
		}
	}

	pre > code {
		border: none;
		background: none;
	}

	img {
		width: 100%;
		margin: 0 0 1rem;
	}

	blockquote {
		border-left: 0.3rem solid rgba($foreground, 0.3);
		margin: 1rem 1rem 1rem 0.25rem;
		padding: 1rem 1rem 1px 1rem;
	}

	ul,ol {
		margin-bottom: 1em;
		li {
			margin-bottom: 0.5em;
		}
	}

	.post-date {
		color: rgba($foreground, 0.5);
	}
}

@include small {
	.post {
		p {
			line-height: 1.6;
		}
	}
}