---
layout: head
---
{% comment %}
<div style="background:black;color:white;font-family:sans-serif;padding:1rem;position:fixed;bottom:0;right:0">
	<span class="hide-small hide-medium hide-large">X-SMALL</span>
	<span class="hide-xsmall hide-medium hide-large">SMALL</span>
	<span class="hide-xsmall hide-small hide-large">MEDIUM</span>
	<span class="hide-xsmall hide-small hide-medium">LARGE</span>
</div>
{% endcomment %}
<aside class="page-left-bar">
	<a href="{{ "/" | relative_url }}" aria-label="Return to the home page" class="logo-link logo-link-side">
		<img src="{{ '/assets/brand.svg' | relative_url }}">
	</a>
</aside>
<main id="main" class="page-main">
	<header class="page-header">
		<a href="{{ "/" | relative_url }}" aria-label="Return to the home page" class="logo-link logo-link-header">
			<img src="{{ '/assets/brand.svg' | relative_url }}">
		</a>
		<nav class="main-nav">
			<ul>
				{%- assign sorted_nav_items = site.pages | where: 'menu','main' | sort: 'weight' -%}
				{%- for p in sorted_nav_items -%}
					{%- if p.menu == 'main' -%}
					<li><a href="{{ p.url }}">{{- p.title -}}</a></li>
					{%- endif -%}
				{%- endfor -%}
			</ul>
		</nav>
	</header>
	{{- content -}}
</main>
{% comment %}
<footer class="page-footer">
	footer
</footer>
{% endcomment %}